.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 250px;
    background-color: transparent; 
    transition: transform 0.3s ease-in-out;
    z-index: 1000; 
}

.header.hidden {
    transform: translateY(-100%);
}

.header.visible {
    transform: translateY(0);
}