.post {
    background: white;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.post-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
  
.post-content {
    padding: 24px;
}
  
.post-title {
    font-size: 24px;
    margin: 0 0 10px;
    font-family: "Inter", sans-serif;
}
  
.post-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
}
  
.post-text {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    font-family: "Inter", sans-serif;
} 

@media (max-width: 768px) {
    .post-image {
      width: 300px;
    }
    .post-title {
        font-size: 18px;
    }
    .post-text {
        font-size: 15px;
    }
    .post {
        width: 300px;
        
    }
  
  }

