.App {
  display: flex;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 80px 20px 20px;
}

.posts {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .content {
    margin-left: 0;
    padding-top: 60px;
  }
  
  .posts {
    padding: 5px;
    max-width: 150px;
    margin-left: 40px;
  }
}
